{% extends 'base.html' %}
{% block style %}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 10px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  margin: auto;
}
{% endblock style %}
{% block content %}

<h2 style="text-align: center;">Add User</h2>

<div>
  {% if messages %}
<ul>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <form action="" method="POST">
    {% csrf_token %}
    <label for="fname">Name</label>
    <input type="text" id="fname" name="name" placeholder="">
    <label for="fname">Id</label>
    <input type="text" id="fname" name="userid" placeholder="">


    <label for="country">Position</label>
    <select id="country" name="position">
      <option selected value="selectposition">Select Position</option>
                    <option value="Director">Director</option>
                    <option value="Associate Director">Associate Director</option>
                    <option value="Tech Director">Tech Director</option>
                    <option value="GH/DH">GH/DH</option>
                    <option value="Employee">Employee</option>
                    <option value="Security officer">Security officer</option>
    </select>
    {% comment %} <label for="country">Department</label>
    <select id="country" name="position">
      <option selected value="selectposition">Select Department</option>

                    {% for department in departments %}
                    <option value="{{department.id}}">{{department.name}}</option>
                    {% endfor %}
              
                    
    </select> {% endcomment %}

    
    <label for="lname">Password</label>
    <input type="password" id="lname" name="password" placeholder="">
  
    <input type="submit" value="Submit">
  </form>
</div>


{% endblock content %}