{% extends 'foundation.html' %}
{% block style %}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
input[type=file], select {
  width: 100%;
  padding: 8px 16px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 10px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
.btngroup{
  display: flex;
 
}
.btngroup #hidepass{
  margin-left : 10px;
}


{% endblock style %}
{% block admincontent %}

<h2 style="text-align: center;">Add User</h2>
<button class="btn btn-danger">user add kro</button>
<div>
  {% if messages %}
<ul>
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <form action="" method="POST" enctype="multipart/form-data">
    {% csrf_token %}
    <label for="">Name</label>
    <input type="text" id="fname" name="name" placeholder="">
    <label for="">PIS</label>
    <input type="text" name="pis">

    <label for="">Employee Id</label>
    <input type="text" id="fname" name="userid" placeholder="">
    <label for="">Adhaar Id</label>
    <input type="text" id="fname" name="adhaar_no" placeholder="">
    <label for="">Image</label>
    <input type="file"  name="img" placeholder="">

    <label for="department">Department</label>
    <select id="departmen" name="department">
      <option selected value="selectposition">Select Position</option>
                    {% for department in departments %}

                    <option value="{{department.id}}">{{department.name}}</option>
                    {% endfor %}
    </select>
  
    <label for="country">Designation</label>
    <select id="country" name="position">
      <option selected value="selectposition">Select Position</option>
                    <option value="Director">Director</option>
                    <option value="Associate Director">Associate Director</option>
                    <option value="Tech Director">Tech Director</option>
                    <option value="GH/DH">GH/DH</option>
                    <option value="Employee">Employee</option>
                    <option value="Security officer">Security officer</option>
                    <option value="oic">Oic</option>
                    <option value="hwmg">Hwmg</option>
    </select>
    <label for="">LD</label>
    <select name="sdoic" id="select">
      <option value="">Select ld</option>
      {% for ld_user in ld_users %}

      <option value="{{ld_user.id}}">{{ld_user.name}}</option>

      {% endfor %}

    </select>
    
    <label for="lname">Password</label>
    <input type="password" id="pass" name="password" placeholder="">
    <div class="btngroup">
      <button onclick="getPassword()" class="add" type="button" style="margin-bottom: 10px; height:30px; background-color: grey;">Genrate Password</button>
    <button onclick="showpass()" class="add" type="button" id ="hidepass" style="margin-bottom: 10px; background-color: rgb(204, 59, 59); height:30px;">Show Password</button>
    </div>
    
  
    <input type="submit" class="add" style="height:35px; background-color: rgb(40, 148, 40);" value="Submit">
  </form>
</div>


{% endblock admincontent %}