{% extends 'foundation.html' %}
{% block style %}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=datetime-local], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
 
}

input[type=submit]:hover {
  background-color: #45a049;
}

.btngroup{
  display: flex;
}


{% endblock style %}



{% block admincontent %}
<h3 style="text-align: center;">Change Password</h3>
<div>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <form action="" method="POST">
    {% csrf_token %}
   


    
    <label for="lname">New Password</label>
    <input type="password" class="longfield" name="password" placeholder=""/>
    
    {% comment %} <div class="btngroup">
      <button onclick="getPassword()" class="add" type="button" style="margin-bottom: 10px; height:30px; background-color: grey;">Genrate Password</button>
    <button onclick="showpass()" class="add" type="button" id ="hidepass" style="margin-bottom: 10px; background-color: rgb(204, 59, 59); height:30px;">Show Password</button>
    </div>
     {% endcomment %}
  
  <input type="submit" class="add" style="float:left; height:30px; margin-right:5px; background-color:green; height:35px;" value="Submit">
  </form>
  


</div>

{% endblock admincontent %}