{% extends 'rolefoundation.html' %}
{% block style %}
input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=datetime-local], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  textarea, select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  input[type=password], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  
  input[type=submit] {
   
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }
  
{% endblock style%}
{% block option %}
{% if request.user.position == "Employee" %}
<li>
  <a href="/home/postapntent" id="active--link">
    
      <span class="sidebar--item">Dashboard</span>
    </a>
  </li>
<li>
  <a href="/home/seret" >
    
      <span class="sidebar--item">Show Request</span>
  </a>
</li>
<li>
  <a href="/home/seret" >
    
      <span class="sidebar--item">Cancel Request</span>
  </a>
</li>
<li>
  <a href="{% url 'fullprofile' %}" >
    
      <span class="sidebar--item">Profile</span>
  </a>
</li>
<li>
  <a href="{% url 'chngpassword' %}">
    
      <span >Change Password</span>
    </a>
  </li>
<li>
  <a href="{% url 'logout' %}">
    
      <span >Logout</span>
    </a>
  </li>
{% endif %}

{% if request.user.position == "GH/DH" or request.user.position == "Tech Director" %}
<li>
  <a href="/home/shsfsdfow-readfafquest" id="active--link">
    
      <span >Dashboard</span>
    </a>
  </li>
  <li>
    <a href="{% url 'fullprofile' %}">
      
        <span >Profile</span>
      </a>
    </li>
    <li>
      <a href="{% url 'chngpassword' %}">
        
          <span >Change Password</span>
        </a>
      </li>
    <li>
      <a href="{% url 'logout' %}">
        
          <span >Logout</span>
        </a>
      </li>

{% endif %}

{% if request.user.position == "Associate Director" or request.user.position == "Director" %}
<li>
    <a href="/home/shsfsdfow-readfafquest" id="active--link">
      
        <span >Dashboard</span>
      </a>
    </li>
    <li>
      <a href="{% url 'fullprofile' %}">
        
          <span >Profile</span>
        </a>
      </li>
      <li>
        <a href="{% url 'chngpassword' %}">
          
            <span >Change Password</span>
          </a>
        </li>
      <li>
        <a href="{% url 'logout' %}">
          
            <span >Logout</span>
          </a>
        </li>

{% endif %}

{% if request.user.position == "Security officer" %}
<li>
  <a href="/home/sesdfpnel">
    
      <span >Dashboard</span>
    </a>
  </li>
<li>
  <a href="{% url 'fullprofile' %}" >
    
      <span >Profile</span>
    </a>
  </li>
  <li>
    <a href="{% url 'chngpassword' %}">
      
        <span >Change Password</span>
      </a>
    </li>
  <li>
    <a href="{% url 'logout' %}">
      
        <span >Logout</span>
      </a>
    </li>

{% endif %}
{% if request.user.is_staff == True %}
<ul class="sidebar--items">
  <li>
      <a href="/adminpanel" id="active--link">
        
          <span class="sidebar--item">Dashboard</span>
      </a>
  </li>
  <li>
      <a href="{% url 'showusers' %}">
    
          <span class="sidebar--item">Users</a>
      </a>
  </li>
  <li>
      <a href="{% url 'showdepartment' %}">
        
          <span class="sidebar--item" style="white-space: nowrap;">Department</span>
      </a>
  </li>
  
  <li>
      <a href="{% url 'showapp' %}">
       
          <span class="sidebar--item">Appointment</span>
      </a>
  </li>
  <li>
      <a href="{% url 'forgotmessage' %}">
       
          <span class="sidebar--item">Forgot Password Requests</span>
      </a>
  </li>
  <li>
      <a href="{% url 'fullprofile' %}">
       
          <span class="sidebar--item">Profile</span>
      </a>
  </li>
  <li>
    <a href="{% url 'chngpassword' %}">
        
        <span class="sidebar--item">Change Password</span>
    </a>
</li>
  <li>
    <a href="{% url 'logout' %}">
        
        <span class="sidebar--item">Logout</span>
    </a>
</li>
</ul>

{% endif %}

{% comment %} <li>
    <a href="/home/shsfsdfow-readfafquest">
      
        <span >Dashboard</span>
      </a>
    </li>
<li>
    <a href="/home/shsfsdfow-readfafquest" >
      
        <span >Profile</span>
      </a>
    </li>
<li>
    <a href="/home/shsfsdfow-readfafquest" >
      
        <span >Dashboard</span>
      </a>
    </li>
     {% endcomment %}
{% endblock option %}
{% block admincontent %}

<h1 style="text-align: center; margin-top:10px;">Change Password</h1>
<div>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <form action="" method="POST">
    {% csrf_token %}
   


    <label for="lname">Current Password</label>
    <input type="password" class="longfield" name="currentpass" placeholder=""/>
    
    <label for="lname">New Password</label>
    <input type="password" class="longfield" name="newpassword" placeholder=""/>
    <label for="lname">Confirm Password</label>
    <input type="password" class="longfield" name="confirmpassword" placeholder=""/>
  
    <input type="submit" class="add" style="float:left;" value="Submit">
  </form>
 
</div>
{% endblock admincontent %}