{% extends 'base.html' %}

{% block style %}

#thtable {

  border-collapse: collapse;
  margin-left : auto;
  margin-right : auto;
 

  width: 100%;
  


}

#thtable td, #thtable th {
  border: 3px solid #ddd;
  padding: 8px;
}

#thtable tr:nth-child(even){background-color: #f2f2f2;}



#thtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

  color: black;
}
.maindiv{
  
  width: 80%;
  margin:auto;
  margin-top:50px;
}
h3{
  text-align: center;
}    
.form{
  display: inline;
} 
#thtable tr:hover {
  background-color: #fff;
}
.addbtn{
  padding:10px;
  background-color: #017BFF;
  color: white;
  margin: 5px;
  text-decoration : none;
  border-radius: 8px;
}
{% endblock style %}
{% block content %}
<div class="maindiv">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
     <div>
      <h3> Welcome {{request.user}}  <br> Position ==> {{request.user.position}}<h3>
        <table id="thtable">
          
              <tr>
          
                <th>User</th>
                <th>Department</th>
                <th>Description</th>
                <th>Date</th>
                <th>Show Detail</th>

            
             
            <tbody>
              {% for obj in objs %}
    
              <tr>
                <th >{{obj.r_user}}</th>
                <td>{{obj.department.name}}</td>
                <td>{{obj.description|truncatechars:50 }} <a href="{% url 'showfull' obj.id %}">Read more</a></td>
    
                <td>{{obj.date}}</td>
                <td><a href="{% url 'fulldetail' obj.id %}" class="addbtn">Detail</a></td>

                <tr>
                     {% endfor %}
                </tbody>
            </table>
                
          <a href="{% url 'logout' %}" style="float: right; background-color:#DC3545; margin-top:10px;" class="addbtn">Logout</a>
     </div>

</div>


{% endblock content %}