{% extends 'rolefoundation.html' %}

{% block style %}


{% endblock style %}
{% block option %}
<li>
  <a href="/home/shsfsdfow-readfafquest" id="active--link">
    
      <span >Dashboard</span>
    </a>
  </li>

{% if request.user.position == "GH/DH" %}
<li>
    <a href="{% url 'clearlist' %}"  >
      
        <span class="sidebar--item">CLear</span>
    </a>
  </li>
            {% endif %}


{% endblock option %}
{% block admincontent %}
<div class="maindiv">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
     <div>
      <h3 style="text-align: center; margin-top:20px; margin-bottom: 20px;"> Welcome {{request.user}}  <br> Position ==> {{request.user.position}}<h3>
        <table id="thtable">
          
              <tr>
          
                <th>User</th>
                <th>Department</th>
                <th>Description</th>
                <th>Date</th>
                <th>Show Detail</th>

            
             
            <tbody>
              {% for obj in objs %}
    
              <tr>
                <th >{{obj.r_user}}</th>
                <td>{{obj.department.name}}</td>
                <td>{{obj.description|truncatechars:50 }} <a href="{% url 'showfull' obj.id %}">Read more</a></td>
    
                <td>{{obj.date}}</td>
                <td><a href="{% url 'fulldetail' obj.id %}" class="add">Detail</a></td>

                <tr>
                     {% endfor %}
                </tbody>
            </table>
             
        
          </div>

</div>


{% endblock admincontent %}