{% extends 'rolefoundation.html' %}
{% block style %}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=datetime-local], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
 
}

input[type=submit]:hover {
  background-color: #45a049;
}


{% endblock style %}


{% block option %}
<li>
  <a href="/home/postapntent" id="active--link">
    
      <span class="sidebar--item">Dashboard</span>
    </a>
  </li>
<li>
  <a href="/home/seret" >
    
      <span class="sidebar--item">Show Request</span>
  </a>
</li>
<li>
  <a href="/home/seret" >
    
      <span class="sidebar--item">Cancel Request</span>
  </a>
</li>
<li>
  <a href="{% url 'fullprofile' %}" >
    
      <span class="sidebar--item">Profile</span>
  </a>
</li>
<li>
  <a href="{% url 'chngpassword' %}" >
    
      <span class="sidebar--item">Change Password</span>
  </a>
</li>
<li>
  <a href="{% url 'logout' %}" >
    
      <span class="sidebar--item">Logout</span>
  </a>
</li>
{% endblock option %}

{% block admincontent %}
<h3 style="text-align: center;">Add Appointment</h3>
<div>
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
  <form action="" method="POST">
    {% csrf_token %}
   


    <label for="country">GH DH</label>
    <select id="country" name="gh_dh">
      <option selected value="SelectGH">Select Users</option>
      {% for i in gh_dh %}
      <option value="{{i.id}}">{{i.name}}</option>
      {% endfor %}
                   
    </select>
    <label for="country">Tech Dir</label>
    <select id="country" name="tdir">
      <option selected value="SelectTD">Select Users</option>
      {% for dir in tech_dir %}
      <option value="{{dir.id}}">{{dir.name}}</option>
      {% endfor %}
                   
    </select>
   
    <label for="country" >Department</label>
    <select id="country" name="department">
      <option selected value="SelectDep">Select Department</option>
            {% for department in departments %}
            <option value="{{department.id}}">{{department.name}}</option>
            {% endfor %}
                  
    </select>

    
    <label for="lname">DateTime</label>
    <input type="datetime-local" id="lname" name="date" placeholder="">
    <label for="lname">Description</label>
    <textarea type="text" class="longfield" name="description" placeholder=""></textarea>
  
    <input type="submit" class="add" style="float:left;" value="Submit">
  </form>
 

</div>

{% endblock admincontent %}