{% extends 'rolefoundation.html' %}

{% block style %}


{% endblock style %}
{% block option %}
<li>
  <a href="/home/postapntent" id="active--link">
    
      <span class="sidebar--item">Dashboard</span>
    </a>
  </li>
<li>
  <a href="/home/seret" >
    
      <span class="sidebar--item">Show Request</span>
  </a>
</li>

{% endblock option %}
{% block admincontent %}
<h3 style="text-align:center; margin-top:20px; margin-bottom:20px;"> Welcome {{request.user}}  <br> Position ==> {{request.user.position}}<h3>
<div class="table"  style="overflow-x:auto;">
    <table id="thtable">
      
          <tr class="th">
      
         
            <th>Department</th>
            <th>Description</th>
            <th>Date</th>
            <th>GH/DH</th>
            <th>Tech Director</th>
           

            <th>GH/DH Clearance</th>
            <th>TechDirector Clearance</th>
            <th>Associate Director</th>
            <th>Director</th>
            <th>Action</th>
          
          </tr>
 
        <tbody>
          {% for obj in objs %}

          <tr>
            <td>{{obj.department.name}}</td>
            <td>{{obj.description|truncatechars:50}}</td>

            <td>{{obj.date}}</td>
            <td>{{obj.gh_dh.name}}</td>
            
            
            <td>{{obj.dh_gh_clr}}</td>
            <td>{{obj.tech_dir.name}}</td>
            <td>{{obj.tech_dir_clr}}</td>
            <td>{{obj.ass_dir_clr}}</td>
            <td>{{obj.dir_clr}}</td>
            <td><a href="{% url 'updateapp' obj.id %}" class="add">Update</a></td>
        
 
          </tr>
          {% endfor %}
      
        </tbody>
      </table>
    

</div>


{% endblock admincontent %}