
{% extends 'rolefoundation.html' %}
{% block style %}
.container{
    width: 50%;
    margin: auto;
 
    float: center;
    margin-top: 200px;
    border-radius: 10px;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
    
    
    

   
}
.addbtn{
    padding:10px;
    background-color: #017BFF;
    color: white;
    margin: 5px;
    text-decoration : none;
    border-radius: 8px;
    

  }

  p{
    text-align:left;
    font-size: 20px;
    margin-bottom: 20px;
  }
{% comment %} .inner{
    position: absolute;

} {% endcomment %}
{% endblock style %}

{% block option %}
{% if request.user.position == 'Security officer' %}
<li>
  <a href="">
    
      <span >Dashboard</span>
    </a>
  </li>

  {% endif %}
  {% if request.user.position == 'GH/DH' %}

  <a href="/home/shsfsdfow-readfafquest">
    
    <span >Dashboard</span>
  </a>
</li>
  {% endif %}
{% endblock option %}



{% block admincontent %}
<div class="container">
    <div class="inner">
    <h4 style="text-align:left; margin-bottom: 20px;">Name == {{obj.r_user.name}}</h4>
    <p>Description == {{obj.description}}</p>
    <p>Department == {{obj.department.name}}</p>
    <p>Date == {{obj.date}}</p>
    <div><img src="" alt="" srcset=""></div>
    </div>

  
   {% if request.user.position == 'GH/DH' and obj.send_security == False %}
   <div style="text-align: center;">
    <form method="POST" class="form">
        {% csrf_token %}
        <button name="forward" class="addbtn" style="" value="{{obj.id}}" class="btnstyle" type="submit">Forward SO</button>
      </form>
   </div>
   <a href="/home/shsfsdfow-readfafquest" style="float: right; background-color:#DC3545; margin-top:10px;" class="addbtn">Home</a>
   {% else %}
   <a href="/home/sesdfpnel" style="float: right; background-color:#DC3545; margin-top:10px;" class="addbtn">Home</a>
   {% endif %}


</div>

{% endblock admincontent %}


