

{% extends 'rolefoundation.html' %}
{% block style %}

{% endblock style %}


{% block option %}
<li>
  <a  id="active--link">
    
      <span >Dashboard</span>
    </a>
  </li>
  
 {% if request.user.position == "GH/DH" %}

{% endif %}
  <li>
    <a href="{% url 'fullprofile' %}">
      
        <span >Profile</span>
      </a>
    </li>
  <li>
    <a href="{% url 'chngpassword' %}">
      
        <span >Change Password</span>
      </a>
    </li>
  <li>
    <a href="{% url 'logout' %}">
      
        <span >Logout</span>
      </a>
    </li>
 


{% endblock option %}
{% block admincontent %}
<div>
    {% if messages %}
  <ul class="messages">
      {% for message in messages %}
      <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
      {% endfor %}
  </ul>
  {% endif %}
       <div>
        <h1 style="text-align:center; margin-top:20px; margin-bottom: 20px;"> Welcome {{request.user}}  <br> Position ==> {{request.user.position}}<h1>
          
            <div class="table">
                <table border="1px" cellpadding="15px">
                    <thead>
                        <tr>
                            <th>User</th>
                            <th>Dep.</th>
                            <th>Description</th>

                            <th>Date</th>
                            <th>GH/DH</th>
                            <th>Tech-Director</th>
                            <th>Associate Director</th>
                            <th>Director</th>
                            <th>Show History</th>
                            <th>Action</th>
                           
                           
                            {% comment %} {% if request.user.position == "Director" %}
                            <th>Cancel</th>
                            {% endif %} {% endcomment %}
                        </tr>
                    </thead>
                    <tbody>
                        {% for obj in objs %}
      
                        <tr>
                          <th ><a href="{% url 'showuser' obj.r_user.id %}">{{obj.r_user}}</a></th>
                          <th>{{obj.department.name}}</th>
                          <th>{{obj.description|truncatechars:100}} <a href="{% url 'showfull' obj.id %}" style="text-decoration: underline;">read more</a></th>
                         
              
                          <th>{{obj.date}}</th>
                          <th ><button class="add" {% if obj.dh_gh_clr == "Not Approved" %} style="background-color: #ba0000;" {% elif obj.dh_gh_clr == "Approved" %} style="background-color:#17b139"   {% else %} style="background-color: #63badf;"  {% endif %}>{{obj.dh_gh_clr}}</button></th>
                          <th ><button class="add" {% if obj.tech_dir_clr == "Not Approved" %} style="background-color: #ba0000;" {% elif obj.tech_dir_clr == "Approved" %} style="background-color:#17b139"  {% else %} style="background-color: #63badf;"  {% endif %}>{{obj.tech_dir_clr}}</button></th>
                          <th ><button class="add" {% if obj.ass_dir_clr == "Not Approved" %} style="background-color: #ba0000;" {% elif obj.ass_dir_clr == "Approved" %} style="background-color:#17b139"  {% else %} style="background-color: #63badf;"  {% endif %}>{{obj.ass_dir_clr}}</button></th>
                          <th ><button class="add" {% if obj.dir_clr == "Not Approved" %} style="background-color: #ba0000;" {% elif obj.dir_clr == "Approved" %} style="background-color:#17b139"  {% else %} style="background-color: #63badf;"  {% endif %}>{{obj.dir_clr}}</button></th>
                          <th><a href="showwhistssot/{{obj.r_user.employee_id}}">History</a></th>
                          <!-- <th>{{obj.tech_dir_clr}}</th>
                          <th>{{obj.ass_dir_clr}}</th>
                          <th>{{obj.dir_clr}}</th> -->
                          {% if request.user.position == "GH/DH"  and obj.dh_gh_clr == "Pending" or request.user.position == "Tech Director" and obj.tech_dir_clr == "Pending" and obj.dh_gh_clr != "Pending" or request.user.position == "Associate Director" and obj.ass_dir_clr == "Pending" and obj.tech_dir_clr != "Pending" or request.user.position == "Director" and obj.dir_clr == "Pending" %}
                          <th ><div style="display:flex;">
                            
                            <form method="POST" class="form">
                              {% csrf_token %}
                              <button name="approved" class="add" style="text-align: center; margin-right:5px;" value="{{obj.id}}" type="submit">Approved</button>
                            </form>
                            <form action="" method="post" class="form">
                              {% csrf_token %}
                              <button name="napproved" class="add" style="background-color:rgb(209, 47, 47);" value="{{obj.id}}"  type="submit">Not Approved</button>
                            </form>
                    
                          </div></th>
              
                                              
                          
                          
                          
                          {% endif %}
                        
                          {% comment %} {% if request.user.position == "Director" %}
                          <th>
                            <a href="{% url 'cancelrequest' obj.id %}" style="" class="add">Cancel</a>
                          </th>
                          {% endif %}
                        {% endcomment %}
                    
               
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        
       </div>
  
  </div>
{% endblock admincontent %}