{% extends 'base.html' %}

{% block style %}

#thtable {

  border-collapse: collapse;
  margin-left : auto;
  margin-right : auto;
 

  width: 100%;
  


}

#thtable td, #thtable th {
  border: 3px solid #ddd;
  padding: 8px;
}

#thtable tr:nth-child(even){background-color: #f2f2f2;}



#thtable th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;

  color: black;
}
.maindiv{
  
  width: 80%;
  margin:auto;
  margin-top:50px;
}
h3{
  text-align: center;
}    
.form{
  display: inline;
} 
#thtable tr:hover {
  background-color: #fff;
}
.addbtn{
  padding:10px;
  background-color: #017BFF;
  color: white;
  margin: 5px;
  text-decoration : none;
  border-radius: 8px;
}
{% endblock style %}
{% block content %}
<div class="maindiv">
  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{ message }}</li>
    {% endfor %}
</ul>
{% endif %}
     <div>
      <h3> Welcome {{request.user}}  <br> Position ==> {{request.user.position}}<h3>
        <table id="thtable">
          
              <tr>
          
                <th>User</th>
                <th>Department</th>
                <th>Description</th>
                <th>Date</th>
                <th>GH/DH Clearance</th>
                <th>TechDirector Clearanec</th>
                <th>Associate Director</th>
                <th>Director</th>
                <th>Action</th>
                {% for obj in objs %}
                {% if  request.user.position == "GH/DH" and obj.dir_clr == "Approved"%}
             
                <th>Send SO</th>

                {% endif %}
                {% endfor %}
                {% if request.user.position == "Director" %}
                <th>Cancel</th>
                {% endif %}
              </tr>
     
            <tbody>
              {% for obj in objs %}
    
              <tr>
                <th >{{obj.r_user}}</th>
                <td>{{obj.department.name}}</td>
                <td>{{obj.description|truncatechars:50 }} <a href="{% url 'showfull' obj.id %}">Read more</a></td>
    
                <td>{{obj.date}}</td>
                <td>{{obj.dh_gh_clr}}</td>
                <td>{{obj.tech_dir_clr}}</td>
                <td>{{obj.ass_dir_clr}}</td>
                <td>{{obj.dir_clr}}</td>
                {% if request.user.position == "GH/DH"  and obj.dh_gh_clr == "Pending" or request.user.position == "Tech Director" and obj.tech_dir_clr == "Pending" and obj.dh_gh_clr != "Pending" or request.user.position == "Associate Director" and obj.ass_dir_clr == "Pending" and obj.tech_dir_clr != "Pending" or request.user.position == "Director" and obj.dir_clr == "Pending" %}
                <td><div>
                  
                  <form action="" method="post" class="form">
                    {% csrf_token %}
                    <button name="napproved" class="addbtn" style="background-color:#DC3545" value="{{obj.id}}"  type="submit">Not Approved</button>
                  </form>
                  <form method="POST" class="form">
                    {% csrf_token %}
                    <button name="approved" class="addbtn" style="" value="{{obj.id}}" class="btnstyle" type="submit">Approved</button>
                  </form>
          
                </div></td>
    
                {% else %}
    
                <td>
                  Action already performed
                </td>
                
                
                
                {% endif %}
                <td>
                  {% if  request.user.position == "GH/DH" and obj.dir_clr == "Approved"  %}
                  <form method="POST" class="form">
                    {% csrf_token %}
                    <button name="forward" class="addbtn" style="" value="{{obj.id}}" class="btnstyle" type="submit">Forward SO</button>
                  </form>
    
                  {% endif %}
    
                </td>
                {% if request.user.position == "Director" %}
                <td>
                  <a href="{% url 'cancelrequest' obj.id %}" style="" class="addbtn">Cancel</a>
                </td>
                {% endif %}
          
     
              </tr>
              {% endfor %}
          
            </tbody>
          </table>
          <a href="{% url 'logout' %}" style="float: right; background-color:#DC3545; margin-top:10px;" class="addbtn">Logout</a>
          {% if request.user.position == "GH/DH" %}
          <a href="{% url 'clearlist' %}" style="float: right; background-color:#DC3545; margin-top:10px;" class="addbtn">Clear Clearance</a>
          {% endif %}
     </div>

</div>


{% endblock content %}