{% extends 'base.html' %}
{% block style %}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type=submit] {
  width: 20%;
  background-color: #4CAF50;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 20px;
  cursor: pointer;
}

input[type=submit]:hover {
  background-color: #45a049;
}

div {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  width: 70%;
  margin: auto;
}
{% endblock style %}
{% block content %}


<div style="margin-top:200px;">
  <h3 style="text-align: center;">Login</h3>

  {% if messages %}
<ul class="messages">
    {% for message in messages %}
    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>{{message}}</li>
    {% endfor %}
</ul>
{% endif %}
  <form method="POST">
    {% csrf_token %}
   


    
    <label>Pis</label>
    <input type="text"  name="pis" placeholder="">
    <label>Password</label>
    <input type="password"  name="password" placeholder="">
  
    <input type="submit" value="Submit">
  </form>
  <a href="{% url 'forgotpass' %}" style="color: red; text-decoration: underline;" >forgot password?</a>
</div>


{% endblock content %}