{% extends 'foundation.html' %}
{% block admincontent %}

<div>

    
    <h2 style="text-align: center; margin-top:20px; margin-bottom: 20px;">Dashboard</h2>
    <div class="cards" style="margin-left:auto; margin-right:auto;">
        <div class="card card-1">
            <div class="card--data">
                <div class="card--content">
                    <h5 class="card--title">Total Users</h5>
                    <h1>{{usercount}}</h1>
                </div>
              
            </div>
        
        </div>
        <div class="card card-2">
            <div class="card--data">
                <div class="card--content">
                    <h5 class="card--title">Total Department</h5>
                    <h1>{{departmentcount}}</h1>
                </div>
           
            </div>
          
        </div>
        <div class="card card-3">
            <div class="card--data">
                <div class="card--content">
                    <h5 class="card--title">Total Appointment</h5>
                    <h1>{{appcount}}</h1>
                </div>
               
            </div>
          
        </div>
     
    </div>
</div>
<div class="title">
    <h2 class="section--title">Users</h2>
    <a href="{% url 'adduser' %}" class="add"><i class="ri-add-line"></i>Add User</a>
</div>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Position</th>
                <th>Id</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.position}}</td>
                <td>{{user.user_id}}</td>
             
                <td class="pending"><a href="{% url 'deleteuser' user.id %}" style="color: red;margin-right:5px;">Delete</a><a href="{% url 'updateuser' user.id %}" style="color: green;" >Update</a></td>
                <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock admincontent %}