{% extends 'foundation.html' %}
{% block admincontent %}
<div class="title">
  <h2 class="section--title">Appointment</h2>

</div>
<table id="thtable">
      
  <tr>

    <th>User</th>
    <th>Department</th>
    <th>Description</th>
    <th>Date</th>
    <th>GH/DH Clearance</th>
    <th>TechDirector Clearanec</th>
    <th>Associate Director</th>
    <th>Director</th>


  </tr>

<tbody>
  {% for obj in objs %}

  <tr>
    <th >{{obj.r_user}}</th>
    <td>{{obj.department.name}}</td>
    <td>{{obj.description|truncatechars:30}} <a href="{% url 'showfull' obj.id %}">Read More</a></td>

    <td>{{obj.date}}</td>
    <td>{{obj.dh_gh_clr}}</td>
    <td>{{obj.tech_dir_clr}}</td>
    <td>{{obj.ass_dir_clr}}</td>
    <td>{{obj.dir_clr}}</td>
   
  

  </tr>
  {% endfor %}

</tbody>
</table>


{% endblock admincontent %}