{% extends 'foundation.html' %}
{% block admincontent %}
<div class="title">
    <h2 class="section--title" style="text-align:center;">Users</h2>
    <a href="{% url 'adduser' %}" class="add"><i class="ri-add-line"></i>Add User</a>
</div>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>PIS</th>            
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.position}}</td>
                <td>{{user.pis}}</td>
             
                <td class="pending" ><a href="{% url 'deleteuser' user.id %}" class="add" style="color: white; background-color:rgb(204, 59, 59); width:fit-content; margin-right:5px; margin-bottom:10px; height:35px;">Delete</a><a href="{% url 'updateuser' user.id %}" class="add" style="color: white; background-color:rgb(40, 148, 40); width:fit-content; height:35px;" >Update</a></td>
                <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock admincontent %}