{% extends 'foundation.html' %}
{% block admincontent %}
<div class="title">
    <h2 class="section--title">Users</h2>
    <a href="{% url 'adduser' %}" class="add"><i class="ri-add-line"></i>Add User</a>
</div>
<div class="table">
    <table>
        <thead>
            <tr>
                <th>Name</th>
                <th>Designation</th>
                <th>Employee Id</th>
                
                <th>Action</th>
            </tr>
        </thead>
        <tbody>
            {% for user in users %}
            <tr>
                <td>{{user.name}}</td>
                <td>{{user.position}}</td>
                <td>{{user.employee_id}}</td>
             
                <td class="pending"><a href="{% url 'deleteuser' user.id %}" style="color: red;margin-right:5px;">Delete</a><a href="{% url 'updateuser' user.id %}" style="color: green;" >Update</a></td>
                <td><span><i class="ri-edit-line edit"></i><i class="ri-delete-bin-line delete"></i></span></td>
            </tr>
            {% endfor %}
            
        </tbody>
    </table>
</div>
{% endblock admincontent %}