{% extends 'foundation.html' %}
{% block style %}
input[type=text], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}
input[type=password], select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}



{% endblock style %}
{% block admincontent %}

<h3 style="text-align: center;">Add User</h3>

<div>
  <form action="" method="POST">
    {% csrf_token %}
    <label for="fname">Name</label>
    <input type="text" id="fname" value="{{user.name}}" name="name" placeholder="">
    <label for="fname">Password</label>
    <input type="text" id="fname"  name="password" placeholder="">


    <label for="country">Position</label>
    <select id="country" name="position">
      <option selected>{{user.position}}</option>
                    <option value="Director">Director</option>
                    <option value="Associate Director">Associate Director</option>
                    <option value="Tech Director">Tech Director</option>
                    <option value="GH/DH">GH/DH</option>
                    <option value="Employee">Employee</option>
    </select>

    
    {% comment %} <label for="lname">Password</label>
    <input type="password" value={{user.password}} id="lname" name="password" placeholder=""> {% endcomment %}
  
    <input type="submit" value="Submit">
  </form>
</div>


{% endblock admincontent %}