<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <form method="post" id="form2" class="d-none p-5">
        {% csrf_token %}
         <div class="containerr">
          <input type="file" class="form-control" name="docfile" id="file"  required>
      </div>
    
        <div class="row my-4">
          <div class="col-5">
              <button type="submit" class="btn btn-purple w-25">Send</button>
              <button type="reset" class="btn btn-info w-50 text-white ms-1">Download File Format</button>
          </div>
    </div>
    </form>
</body>
</html>